:root {
  --light: #fff;
  --dark: #706d6d;
  --primary: #9146FF;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
}

.header p {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--dark);
}

.quiz-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.quiz-intro h1 {
  font-size: 2.5rem;
  color: var(--dark);
  margin: 2.5rem 0;
}

.quiz-intro p {
  max-width: 350px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6;
  color: var(--dark);
}

.quiz-intro div {
  margin: 1.5rem 0;
}

.quiz-intro div button,
.quiz-content ul li button {
  border: none;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--light);
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: opacity 0.25s ease-in;
}

.quiz-intro div button:hover,
.quiz-content ul li button:hover {
  opacity: 0.8;
}


.quiz {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.quiz-content {
  margin: 0 auto;
  margin-top: 5rem;
}

.quiz-content h2 {
  font-size: 1.4rem;
  color: var(--dark);
}


.quiz-content ul {

 padding: 1rem;
}

.quiz-content ul li {
   margin: 1.5rem;
}

.quiz-content ul li button {
  width: 100%;
}


.feedback div {
  height: 3px;
  background: #ccc;
  width: 300px;
}

.feedback p {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 1rem;
  color: var(--dark);
}



.hidden {
  display: none;
}

.show {
  display: block;
}

