/*Set color pallete for site*/
:root {
  --light: #fff;
  --dark: #706d6d;
  --primary: #9146FF;
}

/*Set font for site to Segoe UI*/
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Place the high scores link and timer in opposite top corners of the page*/
.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*styles the view highscores link in the header*/
.header a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
}

/*styles the timer inside the header*/
.header p {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--dark);
}

/*center the quiz starting screen*/
.quiz-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

/*styles the starting screen h1*/
.quiz-intro h1 {
  font-size: 2.5rem;
  color: var(--dark);
  margin: 2.5rem 0;
}

/*styles the starting screen descrption*/
.quiz-intro p {
  max-width: 350px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6;
  color: var(--dark);
}

/*give top and bottom margin to the div wrapping the start quiz button*/
.quiz-intro div {
  margin: 1.5rem 0;
}

/*styles all the buttons on the page*/
.quiz-intro div button,
.quiz-content ul li button,
.quiz-results button,
.btns-container button {
  border: none;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--light);
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: opacity 0.25s ease-in;
}
/*changes all the buttons opacity on hover*/
.quiz-intro div button:hover,
.quiz-content ul li button:hover,
.btns-container button:hover {
  opacity: 0.8;
}

/*center the quiz on the page*/
.quiz {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
/*centers the quiz content on the page*/
.quiz-content {
  margin: 0 auto;
  margin-top: 5rem;
  width: 550px;
  background:#f9f5f5;
  padding: 1rem;
  border-radius: 8px;
}

.quiz-content h2 {
  font-size: 1.4rem;
  color: var(--dark);
}

/*add a bit of padding around the questions*/
.quiz-content ul {
 padding: 1rem;
}

/*add margin for the question list items*/
.quiz-content ul li {
   margin: 1.5rem;
}

.quiz-content ul li button {
  width: 100%;
}

/*make a divider for the feedback which is either correct or wrong*/
.feedback div {
  height: 3px;
  background: #ccc;
  width: 300px;
}

.feedback p {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 1rem;
  color: var(--dark);
}

/*center the quiz results on the page*/
.quiz-results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.quiz-results h2 {
   font-size: 1.6rem;
   color: var(--dark);
   text-align: left;
   margin-bottom: 2rem;
}

.quiz-results p {
  margin-bottom: 2rem;
  font-weight: bold;
  color: var(--dark);
}

.quiz-results label {
  color: var(--dark);
    display: block;
  margin-bottom: 0.25rem;
}

/*make the input's container take up 100% of the parent container*/
.quiz-results .input-container {
  width: 100%;
}

/*styles the input that the user adds their initials in*/
.quiz-results input {
  height: 35px;
  border: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}
/*adds a bit of margin to the top of the button to give it some space from the input*/
.quiz-results button {
  margin-top: 2rem;
}
/*centers the highscore section on the page*/
.highscores-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 5rem;
  width: 550px;
  background: #f9f5f5;
  padding: 1rem;
  border-radius: 8px;
}

/*set the direction child section to 100%*/
.highscores-container > section {
  width: 100%;
}

.highscores-container h1 {
  color: var(--dark);
}

.highscores-container ul {
  padding: 0;
}


/*make the list item a flex to have all the score details on one line*/
.highscores-container .highscore-row {
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--light);
  margin: 1rem;

}
.highscores-container .highscore-row p {
  margin: 1rem;
  text-align: left;
}



/*Make the even highscores have a darker shade of purple background*/
.highscores-container .highscore-row:nth-child(even) {
  background-color: #6a11ef;

}

/*hides an element*/
.hidden {
  display: none;
}

/*shows an element*/
.show {
  display: block;
}

@media screen and (max-width:576px) {
  .quiz-content {
    width: 95%;
  }
}